# Dont include Clipse clipboard history
.config/clipse/tmp_files
.config/clipse/clipboard_history.json
.config/clipse/clipse.log

# Dont include unneccesary install files
.config/fish/fundle
.config/yazi/flavors
.config/yazi/plugins
