* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(26, 27, 38, 0);
    color: #c0caf5;
}

tooltip {
    background: #1a1b26;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #16161e;
}

#workspaces button {
    padding: 5px;
    color: #565f89;
    margin-right: 5px;
}

#workspaces button.active {
    color: #c0caf5;
}

#workspaces button.focused {
    color: #1a1b26;
    background: #7aa2f7;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #1a1b26;
    background: #f7768e;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #292e42;
    color: #c0caf5;
    border-radius: 10px;
}

#custom-playerctl,
#idle_inhibitor,
#window,
#clock,
#upower,
#custom-mobilebattery,
#wireplumber,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: #1a1b26;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #16161e;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #1a1b26;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#idle_inhibitor {
    color: #7dcfff;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 12px;
    font-size: 18px;
}

#custom-playerctl {
    color: #bb9af7;
    border-radius: 10px;
    margin-left: 5px;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#clock {
    color: #e0af68;
    border-radius: 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #73daca;
    border-radius: 10px;
    border-left: 5px;
    border-right: 5px;
    font-size: 10px;
    margin-right: 5px;
}

#wireplumber {
    color: #7aa2f7;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #bb9af7;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#upower {
    color: #9ece6a;
    border-radius: 10px 0 0 10px;
    margin-right: 0px;
    border-left: 0px;
}

#custom-mobilebattery {
    color: #9ece6a;
    margin-right: 0px;
    border-left: 0px;
}

